@media (max-width: 500px) {
  * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .page {
    width: 100%;
    /* height: 50vh;  */
    height: 7000px;
  }
  .project {
    width: 100%;
    /* background-color: aqua; */
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar {
    width: 100%;
    /* background-color: blueviolet; */
    /* display: flex;
    flex-direction: column; */
    height: 20vh;
  }
  .navbarinner {
    /* background-color: brown; */
    width: 100%;
    height: 50px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
  }
  .logo {
    /* background-color: chartreuse; */
    width: 100px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .finddoc {
    width: 300px;
    height: 30px;
    display: none;
    align-items: center;
    /* justify-content: center; */
    /* background-color: aquamarine; */
  }
  .atag {
    font-size: 8px;
  }
  .forcordiv {
    width: 300px;
    height: 40px;
    /* background-color: chocolate; */
    display: none;
    align-items: center;
  }
  .newbutton {
    display: none;
  }
  .navsel {
    font-size: 8px;
    /* background-color: aqua; */
    height: 10px;
  }
  .button {
    height: 30px;
    width: 100px;
    color: aqua;
    /* display: none; */
  }
  .button:hover {
    border: 1px solid aqua;
    color: aqua;
  }
  .try_image {
    display: none;
  }
  .locationdiv {
    width: 100%;
    /* height: 50px; */
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 100px; */
  }
  .location {
    width: 95%;
    /* height: 40px; */
    /* background-color: red;  */
  }
  .loc {
    width: 100px;
    display: flex;

    /* height: 0px; */
  }

  .loc_img {
    height: 10px;
    margin-top: 12px;
  }
  .loca {
    width: 100px;
    font-size: 10px;
  }
  .sera {
    width: 220px;
    font-size: 10px;
  }
  .bigimge {
    overflow: hidden;
    height: 350px;
    width: 100%;
    /* background-color: black; */
  }
  .big_img_class {
    height: 180px;
    width: 95%;
    border-radius: 5px;
  }
  .five_images_main {
    height: 2900px;
    width: 100%;
    /* background-color: rgb(10, 190, 88); */
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .five_images {
    height: 350px;
    width: 250px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .small_text_div {
    width: 100%;
    height: 100px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }
  .small_text_span {
    font-size: 13px;
    /* background-color: aqua; */
    height: 20px;
    width: 100%;
  }
  .p_tag_class {
    /* background-color: bisque; */
    font-size: 10px;
    width: 280px;
  }
  .button_div {
    /* background-color: darkgoldenrod; */
    display: none;
  }
  .button_tag {
    height: 30px;
    width: 100px;
    font-size: 12px;
    display: none;
  }
  .small_images_main_div {
    /* background-color: black; */
    width: 100%;
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .small_images {
    /* background-color: red; */
    height: 200px;
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
  }
  .small_images_1 {
    height: 150px;
  }
  .small_image_text {
    /* background-color: chocolate; */
    width: 120px;
    height: 50px;
    font-size: 14px;
  }
  .small_image_text_1 {
    /* background-color: deeppink; */
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
  }
  .specalities_images_main_div {
    height: 1600px;
    width: 500px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
  }
  .specialties_images {
    height: 210px;
    width: 240px;
    /* background-color: darkgreen; */
    border-radius: 5px;
  }
  .specalities_text_div {
    height: 50px;
    width: 300px;
    /* background-color: rgb(229, 232, 232); */
  }
  .specalities_span {
    font-weight: bold;
    font-family: "Croissant One", cursive;
    font-family: "Fuggles", cursive;
    font-family: "Lato", sans-serif;
    /* background-color: aqua; */
  }
  .specialties_images_1 {
    /* background-color: blueviolet; */
    height: 300px;
    width: 300px;
    overflow-y: hidden;
  }
  .specalities_p_tag {
    /* font-weight: bold; */
    font-family: "Croissant One", cursive;
    font-family: "Fuggles", cursive;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    color: rgb(68, 67, 67);
    /* background-color: blanchedalmond; */
    width: 250px;
  }
  .health_text_div {
    height: 1100px;
    width: 100%;
    /* background-color: darkgoldenrod; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .h1_tag {
    /* background-color: darkmagenta; */
    display: flex;
    align-items: center;

    font-family: "Croissant One", cursive;
    font-family: "Fuggles", cursive;
    font-family: "Lato", sans-serif;
    height: 80px;
    margin-left: 20px;
  }
  .health_span {
    font-family: "Croissant One", cursive;
    font-family: "Fuggles", cursive;
    font-family: "Lato", sans-serif;
    color: grey;
    font-size: 13px;
    /* background-color: aqua; */
    width: 350px;
    height: 55px;
    margin-left: 20px;
  }
  .see_button {
    height: 40px;
    width: 120px;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(17, 207, 245);
    font-family: "Croissant One", cursive;
    font-family: "Fuggles", cursive;
    font-family: "Lato", sans-serif;
    color: white;
    border: none;
    margin-left: 20px;
  }
  .corona_image_div {
    height: 80%;
    width: 260px;
    /* background-color: fuchsia; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .say_div {
    height: 300px;
    width: 100%;
    /* background-color: gold; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .say_p_tag {
    /* background-color: beige; */
    width: 400px;
    height: 70px;
    text-align: center;
    font-family: "Croissant One", cursive;
    font-family: "Fuggles", cursive;
    font-family: "Lato", sans-serif;
    font-size: 15px;
  }
  .h1_tag_2 {
    font-family: "Croissant One", cursive;
    font-family: "Fuggles", cursive;
    font-family: "Lato", sans-serif;
    /* background-color: blueviolet; */
    width: 400px;
    height: 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
  }
  .last_contain_div {
    height: 1000px;
    width: 100%;
    background-color: #f8f8fb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .download_app_main_div {
    height: 1000px;
    width: 100%;
    /* background-color: coral; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .download_image {
    height: 300px;
    width: 300px;
    margin-left: 30px;
  }
  .img_sub_div {
    height: 320px;
    width: 300px;
    /* background-color: blue; */
  }
  .h1_div {
    height: 350px;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .span_sub_text_1 {
    font-family: "Croissant One", cursive;
    font-family: "Fuggles", cursive;
    font-family: "Lato", sans-serif;
    color: rgb(154, 152, 152);
    /* background-color: aqua;  */
    width: 90%;
    height: 80px;
    font-size: 13px;
    margin-left: 10px;
  }
  .get_span_text {
    font-family: "Croissant One", cursive;
    font-family: "Fuggles", cursive;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    /* background-color: chocolate; */
    height: 25px;
    font-weight: bold;
    width: 100%;
    margin-left: 10px;
  }
  .contact_main_div {
    width: 400;
    height: 50px;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
  }
  .number_div {
    width: 250px;
    height: 40px;
    /* background-color: bisque; */
    display: flex;
    border-radius: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    overflow-y: hidden;
  }
  .number_div_2 {
    width: 40px;
    height: 40px;
    /* background-color: cornflowerblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(191, 191, 191); */
    /* border-radius: 5px; */
  }
  .nineone_p_tag {
    font-family: "Croissant One", cursive;
    font-family: "Fuggles", cursive;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 12px;
  }
  .number_div_3 {
    height: 50px;
    width: 100%;
    border: 1px solid rgb(191, 191, 191);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    /* border-radius: 5px; */
  }
  .input_class {
    height: 50px;
    width: 260px;
    background-color: #f8f8fb;
    outline: none;
    border: none;
    font-size: 12px;
    font-family: "Croissant One", cursive;
    font-family: "Fuggles", cursive;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
    overflow-y: hidden;
  }
  .last_button {
    height: 50px;
    width: 180px;
    /* background-color: blue;  */
    border-radius: 5px;
  }
  .last_button_1 {
    height: 40px;
    width: 100px;
    background-color: rgb(51, 188, 247);
    border-radius: 5px;
    font-family: "Croissant One", cursive;
    font-family: "Fuggles", cursive;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: white;
    border: none;
  }
  .appimages_div {
    height: 60px;
    width: 250px;
    /* background-color: darkseagreen; */
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .app_image {
    width: 100px;
    height: 30px;
  }
  .last_main_div {
    height: 1700px;
    width: 100%;
    background-color: #28328c;

    display: grid;
    justify-content: center;
    flex-direction: column;
  }
  .last_sub_div {
    width: 350px;
    height: 900px;
    /* background-color: darksalmon; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: space-around; */
    /* align-items: center; */
  }
  .last_a_tag_div {
    width: 100px;
    height: 400px;
    /* background-color: darkolivegreen; */
    display: flex;
    flex-direction: column;
  }
  .last_a_tag_div_1 {
    width: 80px;
    height: 300px;
    /* background-color: darkolivegreen; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    margin-bottom: 100px;
  }
}
